:root {
    --bg-color: #E6ECF2;
    --prop-color: #FFFFFF;
    --accent-color: #D9D9D9;
    --text-color: #000000;
    --accent2-color: #B3B3B3;
    --scrollbar-color: #dedee8;
    --scrollbar-thumb-color: #4f5764;
    --post-color: #BECDDD;
}


* {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    scroll-behavior: smooth;


    // изменение скрол бара
    &::-webkit-scrollbar {
      width: 15px;
      background-color: var(--scrollbar-color);
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--scrollbar-thumb-color);
    }
  
}

@font-face {
	font-family: Montserrat;
	src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

a {
    text-decoration: none;
}

.main {
    background-color:var(--bg-color);
    display: flex;
    justify-content: center;
    padding-top: 50px;
    box-sizing: border-box;
    overflow: hidden;
    min-height: 2017px;
    padding-bottom: 30px;

    .nav {
        width: 268px;
        height: 426px;
        border-radius: 30px;
        border-top: 1px solid var(--accent2-color);
        border-bottom: 1px solid var(--accent2-color);
        background: rgba(217, 217, 217, 0.00);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        .navContent {
            div {
                width: 200px;
                height: 61px;
                flex-shrink: 0;
                border-radius: 20px;
                background: var(--prop-color);
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--text-color);
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 10px;
                cursor: pointer;
                &:hover {
                    border-radius: 20px;
                    box-shadow: 0 0 10px 0px #00000044;
                }
            }
            div:nth-child(1) {
                margin-top: 0px;
            }
            .this {
                background: var(--accent-color);
                font-weight: 500;
                cursor: auto;
                &:hover {
                    border-radius: 20px;
                    box-shadow: 0 0 10px 0px #00000000;
                }
            }
        }
    }

    .schedule {
        margin-top: 40px;
        width: 268px;
        height: 514px;
        flex-shrink: 0;
        border-radius: 30px;
        background: var(--prop-color);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .scheContent {
            p {
                color: var(--text-color);
                font-family: Montserrat;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                padding-top: 23px;
                width: 100%;
                text-align: center;
            }
            .study {
                margin-bottom: 17px;
                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 223px;
                    height: 50px;
                    flex-shrink: 0;
                    border: 1px solid #B3B3B3;
                    background: rgba(217, 217, 217, 0.00);
                    color: var(--text-color);
                    font-family: Montserrat;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    margin-top: 14px;
                }
                div:nth-child(1) {
                    margin-top: 11px;
                }
            }
        }
    }
    .content {
        width: 900px;
        margin: 0 70px;
    }
    .news {
        width: 268px;
        height: 100dvh;
        flex-shrink: 0;
        border-radius: 30px 30px 0px 0px;
        background: var(--prop-color);
    }
    .newsAdapt1 {
        overflow: hidden;
    }
    .burger {
        width: 50px;
        opacity: 50%;
        transform: translate(-10000px);
        cursor: pointer;
        z-index: 1;
        display: none;
    }
    .Left {
        position: relative;
    }
    .close {
        position: absolute;
        right: 15px;
        font-size: 30px;
        color: rgb(139, 7, 7);
        cursor: pointer;
        display: none;
    }
}


@media screen and (max-width: 1600px) {
    .news {
        display: none;
    }
    .newsAdapt1 {
        overflow: visible;
        margin-top: 40px;
        width: 268px;
        height: 100dvh;
        flex-shrink: 0;
        border-radius: 30px 30px 0px 0px;
        background: var(--prop-color);
    }
    
}
@media screen and (max-width: 1340px) {
    .Left {
        transform: translate(-10000px);
        display: none;
    }
    .main .burger {
        transform: translate(0px);
    }
    .main .close {
        display: block;
    }
    .main .content .burger {
        display: block;
    }
}

.main .adaptLeft {
    transform: translate(0px);
    display: block;
    position: absolute;
    left: 20px;
    background-color: var(--bg-color);
    z-index: 3;
}