:root {
  --bg-color: #E6ECF2;
  --prop-color: #FFFFFF;
  --accent-color: #D9D9D9;
  --text-color: #000000;
  --accent2-color: #B3B3B3;
  --scrollbar-color: #dedee8;
  --scrollbar-thumb-color: #4f5764;
  --accent3-color:rgb(175, 187, 212);
  --post-color: #BECDDD;
  --navMobileBg-color: #B8BEC3;
  --navMobileAccent-color: #CECECE;
  --opacityImg: 0.5;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  width: 15px;
  background-color: var(--scrollbar-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}
a {
  text-decoration: none;
}

.main {
  background-color: var(--bg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  min-height: 2017px;
  padding-bottom: 30px;
}
.main .nav {
  width: 268px;
  height: 426px;
  border-radius: 30px;
  border-top: 1px solid var(--accent2-color);
  border-bottom: 1px solid var(--accent2-color);
  background: rgba(217, 217, 217, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}
.main .nav .navContent div {
  width: 200px;
  height: 61px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 20px;
  background: var(--prop-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 10px;
  cursor: pointer;
}
.main .nav .navContent div:hover {
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2666666667);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.2666666667);
}
.main .nav .navContent div:nth-child(1) {
  margin-top: 0px;
}
.main .nav .navContent .this {
  background: var(--accent-color);
  font-weight: 500;
  cursor: auto;
}
.main .nav .navContent .this:hover {
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0);
}
.main .schedule {
  margin-top: 40px;
  width: 268px;
  height: 514px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 30px;
  background: var(--prop-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main .schedule .scheContent p {
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 23px;
  width: 100%;
  text-align: center;
}
.main .schedule .scheContent .study {
  margin-bottom: 17px;
}
.main .schedule .scheContent .study div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 223px;
  height: 50px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid #B3B3B3;
  background: rgba(217, 217, 217, 0);
  color: var(--text-color);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 14px;
}
.main .schedule .scheContent .study div:nth-child(1) {
  margin-top: 11px;
}
.main .content {
  width: 900px;
  margin: 0 70px;
}
.main .news {
  width: 268px;
  height: 100dvh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 30px 30px 0px 0px;
  background: var(--prop-color);
}
.main .newsAdapt1 {
  overflow: hidden;
}
.main .burger {
  width: 50px;
  opacity: var(--opacityImg);
  -webkit-transform: translate(-10000px);
          transform: translate(-10000px);
  cursor: pointer;
  z-index: 1;
  display: none;
}
.main .Left {
  position: relative;
}
.main .close {
  position: absolute;
  right: 15px;
  font-size: 30px;
  color: rgb(139, 7, 7);
  cursor: pointer;
  display: none;
}

.mobileNav {
  position: fixed;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 3;
  bottom: 0;
  display: none;
}
.mobileNav .contentMob {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--navMobileBg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px 40px 0 0;
  padding: 0 10px;
}
.mobileNav .contentMob img {
  opacity: var(--opacityImg);
  width: clamp(30px, 5vw, 50px);
}
.mobileNav .contentMob span {
  opacity: var(--opacityImg);
  font-size: clamp(25px, 5vw, 32px);
  font-weight: 600;
}
.mobileNav .contentMob div {
  padding: 20px;
  cursor: pointer;
}
.mobileNav .contentMob .newsMob img {
  margin: 5px 0 0 5px;
  width: clamp(35px, 6vw, 60px);
}
.mobileNav .contentMob .profileMob {
  border: 0;
}
.mobileNav .contentMob .deciderMob {
  border: solid 1px rgba(0, 0, 0, 0.158);
  width: 0;
  padding: 0;
  height: 60px;
}

@media screen and (max-width: 1600px) {
  .news {
    display: none;
  }
  .newsAdapt1 {
    overflow: visible;
    margin-top: 40px;
    width: 268px;
    height: 100dvh;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    border-radius: 30px 30px 0px 0px;
    background: var(--prop-color);
  }
}
@media screen and (max-width: 1340px) {
  .Left {
    -webkit-transform: translate(-10000px);
            transform: translate(-10000px);
    display: none;
  }
  .main .burger {
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  .main .close {
    display: block;
  }
  .main .content .burger {
    display: block;
  }
}
.main .adaptLeft {
  -webkit-transform: translate(0px);
          transform: translate(0px);
  display: block;
  position: absolute;
  left: 20px;
  background-color: var(--bg-color);
  z-index: 3;
}

@media screen and (max-width: 1000px) {
  .main .content .burger {
    display: none;
  }
  .main .adaptLeft {
    -webkit-transform: translate(-10000px);
            transform: translate(-10000px);
    display: none;
  }
  .mobileNav {
    display: block;
  }
  .main {
    min-height: 1000px;
  }
  .main .mainContent {
    margin-bottom: 100px;
    padding: 0 164px;
  }
  .main .mainContent .settingsImg {
    top: 10px;
  }
  .main .mainContent .posts .newPosts {
    margin-top: 30px;
  }
  .main .mainContent .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main .mainContent .profile .user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: clamp(543px, 100vw, 900px);
  }
  .main .mainContent .profile .user .avatar {
    position: absolute;
    right: 0;
    border-radius: 30px;
    width: clamp(271px, 51vw, 320px);
    height: clamp(292px, 51vw, 290px);
  }
  .main .mainContent .profile .user .avatar img {
    width: clamp(244px, 50vw, 260px);
  }
  .main .mainContent .profile .user .decider {
    display: none;
  }
  .main .mainContent .profile .user .man {
    position: relative;
    width: 100%;
    height: clamp(292px, 51vw, 290px);
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .mainContent .profile .user .man form {
    width: 200px;
  }
  .main .mainContent .profile .user .man .pencil {
    position: absolute;
    left: 10px;
    top: 19px;
    right: auto;
  }
  .main .mainContent .profile .user .man .buttonOk, .main .mainContent .profile .user .man #cancel {
    margin-top: 10px;
    position: static;
  }
  .main .mainContent .profile .user .man #cancel {
    position: relative;
    top: -35px;
    left: -25px;
  }
  .main .mainContent .profile .user .man .name input {
    font-size: clamp(20px, 3vw, 24px);
  }
  .main .mainContent .profile .user .man .nameDescr select {
    margin-bottom: 0;
  }
  .main .mainContent .profile .user .man span {
    font-size: clamp(20px, 3vw, 24px);
  }
  .main .mainContent .profile .user .man p {
    font-size: clamp(15px, 3vw, 20px);
  }
  .main .mainContent .profile .user .man .description textarea {
    font-size: clamp(15px, 3vw, 20px);
    width: clamp(50px, 50vw, 200px);
    height: auto;
  }
}