:root {
    --bg-color: #E6ECF2;
    --prop-color: #FFFFFF;
    --accent-color: #D9D9D9;
    --text-color: #000000;
    --accent2-color: #B3B3B3;
  }
.mainContent {
    width: 900px;
    height: 300px;
    border-radius: 50px;
    box-sizing: border-box;
    color: var(--text-color);
    .profile {
      .user {
        position: relative;
        display: flex;
        .avatar {
          width: 460px;
          height: 424px;
          background-color: var(--accent-color);
          border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 2;
        }
        .man {
          position: absolute;
          border-radius: 50px;
          right: 0;
          width: 770px;
          height: 424;
          background-color: var(--prop-color);
          z-index: 1;
          padding: 50px 40px;
          padding-left: 370px;
          box-sizing: border-box;
            button {
              position: absolute;
              right: 10px;
              cursor: pointer;
              img {
                background-color: var(--prop-color);
                width: 24px;
              }
            }
          .name {
            input {
            color: var(--text-color);
            background-color: transparent;
            font-size: 28px;
            font-weight: 600;
            }
          }
          .nameDescr {
            color: var(--text-color);
            font-size: 28px;
            input {
              width: 45px;
              color: var(--text-color);
              background-color: transparent;
              font-size: 28px;
              margin-top: 5px;
            }
          }
          .descriptionUser {
            color: var(--text-color);
            font-size: 20px;
          }
          .description {
            textarea {
            color: var(--text-color);
            background-color: transparent;
            font-size: 20px;
            font-style: italic;
            height: 150px;
            resize: none;
            }
          }
          .buttonOk {
            position: absolute;
            bottom: 20px;
            right: 60px;
            width: 200px;
            height: 30px;
            font-size: 17px;
            border-radius: 30px;
            color: var(--text-color);
            background-color: var(--accent-color);
          }
          #cancel {
            position: absolute;
            bottom: 25px;
            right: 40px;
            cursor: pointer;
            color: red;
          }
        }
        .decider {
          box-sizing: border-box;
          width: 900px;
          border-bottom: solid 1px var(--accent-color);
          height: 452px;
          border-radius: 50px;
          position: absolute;
        }
      }
    }
}