:root {
  --bg-color: #E6ECF2;
  --prop-color: #FFFFFF;
  --accent-color: #D9D9D9;
  --text-color: #000000;
  --accent2-color: #B3B3B3;
  --scrollbar-color: #dedee8;
  --scrollbar-thumb-color: #4f5764;
}

.mainContent {
  width: 900px;
  height: 300px;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--text-color);
}
.mainContent .profile .user {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mainContent .profile .user .avatar {
  width: 460px;
  height: 424px;
  background-color: var(--accent-color);
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.mainContent .profile .user .man {
  position: absolute;
  border-radius: 50px;
  right: 0;
  width: 770px;
  height: 424;
  background-color: var(--prop-color);
  z-index: 1;
  padding: 50px 40px;
  padding-left: 370px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.mainContent .profile .user .man button {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.mainContent .profile .user .man button img {
  background-color: var(--prop-color);
  width: 24px;
}
.mainContent .profile .user .man .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.mainContent .profile .user .man .name input {
  min-width: 100px;
  color: var(--text-color);
  background-color: transparent;
  border-radius: 10px;
  padding: 2px;
  font-size: 28px;
  font-weight: 600;
}
.mainContent .profile .user .man .nameDescr {
  color: var(--text-color);
  font-size: 28px;
  margin-left: 2px;
}
.mainContent .profile .user .man .nameDescr input {
  width: 55px;
  color: var(--text-color);
  background-color: transparent;
  border-radius: 10px;
  padding: 2px;
  font-size: 28px;
  margin-top: 5px;
}
.mainContent .profile .user .man .descriptionUser {
  color: var(--text-color);
  font-size: 20px;
  margin-left: 2px;
}
.mainContent .profile .user .man .description textarea {
  color: var(--text-color);
  background-color: transparent;
  border-radius: 10px;
  padding: 2px;
  border-radius: 30px;
  padding: 5px;
  font-size: 20px;
  font-style: italic;
  height: 100px;
  resize: none;
}
.mainContent .profile .user .man .description textarea::-webkit-scrollbar {
  width: 7px;
  background-color: var(--scrollbar-color);
}
.mainContent .profile .user .man .description textarea::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}
.mainContent .profile .user .man .buttonOk {
  position: absolute;
  bottom: 20px;
  right: 60px;
  width: 200px;
  height: 30px;
  font-size: 17px;
  border-radius: 30px;
  color: var(--text-color);
  background-color: var(--accent-color);
}
.mainContent .profile .user .man #cancel {
  position: absolute;
  bottom: 25px;
  right: 40px;
  cursor: pointer;
  color: red;
}
.mainContent .profile .user .decider {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 900px;
  border-bottom: solid 1px var(--accent-color);
  height: 452px;
  border-radius: 50px;
  position: absolute;
}
.mainContent .posts .newPosts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: var(--prop-color);
  margin-top: 50px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  cursor: pointer;
}
.mainContent .posts .newPosts span {
  background-color: var(--accent-color);
  width: 35px;
  height: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}
.mainContent .posts .newPosts p {
  margin-left: 20px;
  font-size: 20px;
}
.mainContent .posts:hover {
  border-radius: 50px;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1137254902);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1137254902);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}