:root {
  --bg-color: #E6ECF2;
  --prop-color: #FFFFFF;
  --accent-color: #D9D9D9;
  --text-color: #000000;
  --accent2-color: #B3B3B3;
}

.mainContent {
  width: 900px;
  height: 300px;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--text-color);
}
.mainContent .profile .user {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mainContent .profile .user .avatar {
  width: 460px;
  height: 424px;
  background-color: var(--accent-color);
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.mainContent .profile .user .man {
  position: absolute;
  border-radius: 50px;
  right: 0;
  width: 770px;
  height: 424;
  background-color: var(--prop-color);
  z-index: 1;
  padding: 50px 40px;
  padding-left: 370px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.mainContent .profile .user .man button {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.mainContent .profile .user .man button img {
  background-color: var(--prop-color);
  width: 24px;
}
.mainContent .profile .user .man .name input {
  color: var(--text-color);
  background-color: transparent;
  font-size: 28px;
  font-weight: 600;
}
.mainContent .profile .user .man .nameDescr {
  color: var(--text-color);
  font-size: 28px;
}
.mainContent .profile .user .man .nameDescr input {
  width: 45px;
  color: var(--text-color);
  background-color: transparent;
  font-size: 28px;
  margin-top: 5px;
}
.mainContent .profile .user .man .descriptionUser {
  color: var(--text-color);
  font-size: 20px;
}
.mainContent .profile .user .man .description textarea {
  color: var(--text-color);
  background-color: transparent;
  font-size: 20px;
  font-style: italic;
  height: 150px;
  resize: none;
}
.mainContent .profile .user .man .buttonOk {
  position: absolute;
  bottom: 20px;
  right: 60px;
  width: 200px;
  height: 30px;
  font-size: 17px;
  border-radius: 30px;
  color: var(--text-color);
  background-color: var(--accent-color);
}
.mainContent .profile .user .man #cancel {
  position: absolute;
  bottom: 25px;
  right: 40px;
  cursor: pointer;
  color: red;
}
.mainContent .profile .user .decider {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 900px;
  border-bottom: solid 1px var(--accent-color);
  height: 452px;
  border-radius: 50px;
  position: absolute;
}