:root {
  --bg-color: #E6ECF2;
  --prop-color: #FFFFFF;
  --accent-color: #D9D9D9;
  --text-color: #000000;
  --accent2-color: #B3B3B3;
  --scrollbar-color: #dedee8;
  --scrollbar-thumb-color: #4f5764;
  --accent3-color:rgb(175, 187, 212);
  --post-color: #BECDDD;
  --navMobileBg-color: #B8BEC3;
  --navMobileAccent-color: #CECECE;
  --opacityImg: 0.5;
}

.mainContent {
  width: 900px;
  border-radius: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--text-color);
}
.mainContent .settingsImg {
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.mainContent .settingsImg img {
  width: 30px;
}
.mainContent .settings {
  position: fixed;
  left: 0;
  top: 0%;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.6078431373);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainContent .settings .content {
  width: 900px;
  margin: 0 70px;
  height: clamp(246px, 80vh, 900px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--prop-color);
  border-radius: 30px;
  position: relative;
}
.mainContent .settings .content .title {
  background-color: var(--bg-color);
  border-radius: 30px 30px 0 0;
  border-bottom: solid 1px var(--accent-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.mainContent .settings .content .title .cancelSettings {
  position: absolute;
  right: 10px;
  font-size: 22px;
  color: rgb(168, 32, 32);
  cursor: pointer;
  padding: 10px;
}
.mainContent .settings .content .title .date {
  margin-left: 30px;
  padding-top: 10px;
  font-size: 15px;
}
.mainContent .settings .content .title .textTitle {
  margin-left: 30px;
  padding: 20px 0;
  font-size: 26px;
  font-weight: 500;
}
.mainContent .settings .content .settingsContent {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 30px;
  border-bottom: solid 1px var(--accent-color);
  font-size: 26;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.mainContent .settings .content .outContent {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 30px;
  border: solid 1px var(--accent-color);
  font-size: 26;
  position: absolute;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mainContent .settings .content .outContent button {
  padding: 10px 25px;
  color: white;
  border-radius: 20px;
  background-color: #CC3636;
  font-size: 20;
  cursor: pointer;
}
.mainContent .settings .content .send {
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainContent .settings .content .send .photo {
  cursor: pointer;
}
.mainContent .settings .content .send .photo img {
  width: 37px;
  opacity: var(--opacityImg);
}
.mainContent .settings .content .send .publish {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  border-radius: 20px;
  font-size: 20px;
  background-color: var(--scrollbar-color);
  padding: 5px;
}
.mainContent .profile .user {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.mainContent .profile .user .avatar {
  width: 460px;
  height: 424px;
  background-color: var(--accent-color);
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}
.mainContent .profile .user .avatar img {
  opacity: var(--opacityImg);
}
.mainContent .profile .user .man {
  position: absolute;
  border-radius: 50px;
  right: 0;
  width: 770px;
  height: 424px;
  background-color: var(--prop-color);
  z-index: 1;
  padding: 50px 40px;
  padding-left: 370px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.mainContent .profile .user .man button {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.mainContent .profile .user .man button img {
  background-color: var(--prop-color);
  width: 24px;
}
.mainContent .profile .user .man .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.mainContent .profile .user .man .name input {
  min-width: 100px;
  color: var(--text-color);
  background-color: transparent;
  border-radius: 10px;
  padding: 2px;
  font-size: 28px;
  font-weight: 600;
}
.mainContent .profile .user .man .nameDescr {
  color: var(--text-color);
  font-size: 28px;
  margin-left: 2px;
}
.mainContent .profile .user .man .nameDescr select {
  margin-top: 5px;
  width: 55px;
  min-width: 50px;
  border: 1px solid var(--text-color);
  margin-bottom: 30px;
  height: 30px;
  border-radius: 50px;
  color: var(--text-color);
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  background-color: var(--prop-color);
}
.mainContent .profile .user .man .nameDescr select::-ms-value {
  color: var(--text-color);
}
.mainContent .profile .user .man .nameDescr select option {
  color: var(--text-color);
  font-size: 16px;
}
.mainContent .profile .user .man .descriptionUser {
  color: var(--text-color);
  font-size: 20px;
  margin-left: 2px;
}
.mainContent .profile .user .man .description textarea {
  color: var(--text-color);
  background-color: transparent;
  border-radius: 10px;
  padding: 2px;
  border-radius: 30px;
  padding: 5px;
  font-size: 20px;
  font-style: italic;
  height: 100px;
  resize: none;
}
.mainContent .profile .user .man .description textarea::-webkit-scrollbar {
  width: 7px;
  background-color: var(--scrollbar-color);
}
.mainContent .profile .user .man .description textarea::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}
.mainContent .profile .user .man .buttonOk {
  position: absolute;
  bottom: 20px;
  right: 60px;
  width: 200px;
  height: 30px;
  font-size: 17px;
  border-radius: 30px;
  color: var(--text-color);
  background-color: var(--accent-color);
}
.mainContent .profile .user .man #cancel {
  position: absolute;
  bottom: 25px;
  right: 40px;
  cursor: pointer;
  color: red;
}
.mainContent .profile .user .decider {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 900px;
  border-bottom: solid 1px var(--accent-color);
  height: 452px;
  border-radius: 50px;
  position: absolute;
}
.mainContent .posts .newPosts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: var(--prop-color);
  margin-top: 50px;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
  cursor: pointer;
}
.mainContent .posts .newPosts:hover {
  border-radius: 50px;
  -webkit-box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1137254902);
          box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.1137254902);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.mainContent .posts .newPosts span {
  background-color: var(--accent-color);
  width: 35px;
  height: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
}
.mainContent .posts .newPosts p {
  margin-left: 20px;
  font-size: 20px;
}
.mainContent .popupPosts {
  position: fixed;
  left: 0;
  top: 0%;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.6078431373);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainContent .popupPosts .content {
  width: clamp(200px, 50vw, 988px);
  height: clamp(246px, 80vh, 900px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--prop-color);
  border-radius: 30px;
}
.mainContent .popupPosts .content .title {
  background-color: var(--bg-color);
  height: 100px;
  border-radius: 30px 30px 0 0;
  border-bottom: solid 1px var(--accent-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
.mainContent .popupPosts .content .title .cancelPosts {
  position: absolute;
  right: 10px;
  font-size: 22px;
  color: rgb(168, 32, 32);
  cursor: pointer;
  padding: 10px;
}
.mainContent .popupPosts .content .title .date {
  margin-left: 30px;
  padding-top: 10px;
  font-size: 15px;
}
.mainContent .popupPosts .content .title .textTitle {
  margin-left: 30px;
  padding-top: 10px;
  font-size: 26px;
  font-weight: 500;
}
.mainContent .popupPosts .content .message {
  width: clamp(200px, 50vw, 988px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  border-bottom: solid 1px var(--accent-color);
}
.mainContent .popupPosts .content .message textarea {
  width: 100%;
  height: 70%;
  resize: none;
  outline: none;
  font-size: 22px;
  background-color: var(--prop-color);
  color: var(--text-color);
}
.mainContent .popupPosts .content .message textarea::-webkit-input-placeholder {
  font-size: 22px;
}
.mainContent .popupPosts .content .message textarea::-moz-placeholder {
  font-size: 22px;
}
.mainContent .popupPosts .content .message textarea:-ms-input-placeholder {
  font-size: 22px;
}
.mainContent .popupPosts .content .message textarea::-ms-input-placeholder {
  font-size: 22px;
}
.mainContent .popupPosts .content .message textarea::placeholder {
  font-size: 22px;
}
.mainContent .popupPosts .content .send {
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainContent .popupPosts .content .send .photo {
  cursor: pointer;
}
.mainContent .popupPosts .content .send .photo img {
  width: 37px;
  opacity: var(--opacityImg);
}
.mainContent .popupPosts .content .send .publish {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  border-radius: 20px;
  font-size: 20px;
  background-color: var(--scrollbar-color);
  padding: 5px;
}
.mainContent .allPosts .post {
  margin-top: 30px;
  background-color: var(--prop-color);
  border-radius: 30px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.mainContent .allPosts .post .datePost {
  font-size: 13px;
  left: 25px;
  top: 10px;
  color: var(--text-color);
  opacity: var(--opacityImg);
  position: absolute;
}
.mainContent .allPosts .post .text {
  padding: 40px;
  padding-top: 50px;
  border-radius: 30px;
  border-bottom: solid 1px var(--accent-color);
}
.mainContent .allPosts .post .text pre {
  white-space: pre-wrap;
  -ms-hyphens: manual;
  hyphens: manual;
  overflow-wrap: break-word;
}
.mainContent .allPosts .post .bottomPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.mainContent .allPosts .post .bottomPost .like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 30px;
}
.mainContent .allPosts .post .bottomPost .like #minus, .mainContent .allPosts .post .bottomPost .like #plus, .mainContent .allPosts .post .bottomPost .like #minusPressed, .mainContent .allPosts .post .bottomPost .like #plusPressed {
  font-size: 30px;
  padding: 0 15px;
  margin: 0 10px;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: var(--text-color);
}
.mainContent .allPosts .post .bottomPost .like #minus:hover, .mainContent .allPosts .post .bottomPost .like #plus:hover, .mainContent .allPosts .post .bottomPost .like #minusPressed:hover, .mainContent .allPosts .post .bottomPost .like #plusPressed:hover {
  background-color: var(--accent3-color);
}
.mainContent .allPosts .post .bottomPost .like #minus, .mainContent .allPosts .post .bottomPost .like #plus {
  background-color: var(--accent-color);
}
.mainContent .allPosts .post .bottomPost .like #minus:hover, .mainContent .allPosts .post .bottomPost .like #plus:hover {
  background-color: var(--accent3-color);
}
.mainContent .allPosts .post .bottomPost .like #minus, .mainContent .allPosts .post .bottomPost .like #minusPressed {
  padding: 0 17px;
}
.mainContent .allPosts .post .bottomPost .like #minusPressed, .mainContent .allPosts .post .bottomPost .like #plusPressed {
  background-color: var(--accent3-color);
}
.mainContent .allPosts .post .bottomPost .like p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
}
.mainContent .allPosts .post .bottomPost .del {
  padding: 20px 45px;
  cursor: pointer;
  background-color: transparent;
}
.mainContent .allPosts .post .bottomPost .del img {
  width: 25px;
  opacity: var(--opacityImg);
}
.mainContent .allPosts .post .bottomPost .popupConfirmation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4117647059);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--text-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mainContent .allPosts .post .bottomPost .popupConfirmation .contentPC {
  background-color: var(--prop-color);
  padding: 10px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 3;
}
.mainContent .allPosts .post .bottomPost .popupConfirmation .contentPC .titlePC {
  border-radius: 30px;
  padding: 30px 30px 20px 30px;
  border-bottom: solid 1px var(--accent-color);
}
.mainContent .allPosts .post .bottomPost .popupConfirmation .contentPC .buttonPC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 30px 10px 30px;
}
.mainContent .allPosts .post .bottomPost .popupConfirmation .contentPC .buttonPC button {
  border: 1px solid var(--text-color);
  background-color: transparent;
  padding: 10px;
  color: var(--text-color);
  border-radius: 30px;
  cursor: pointer;
}
.mainContent .allPosts .post .bottomPost .popupConfirmation .contentPC .buttonPC .delPC {
  margin-left: 20px;
  color: #FFF;
  background-color: rgb(168, 32, 32);
  border: 1px solid rgb(168, 32, 32);
}
.mainContent .allPosts .post .bottomPost .popupConfirmation .backPC {
  background-color: rgba(0, 0, 0, 0.4117647059);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.sign {
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sign .signUp .signText {
  text-align: center;
  font-size: 64px;
  margin: 40px;
}
.sign .signUp .content {
  background-color: var(--prop-color);
  padding: 80px 200px;
  min-height: 400px;
  border-radius: 50px;
}
.sign .signUp .content form input {
  width: 100%;
  min-width: 250px;
  border: 1px solid var(--text-color);
  margin-bottom: 30px;
  height: 30px;
  border-radius: 50px;
  color: var(--text-color);
  padding-left: 10px;
  font-size: 16px;
}
.sign .signUp .content form input::-webkit-input-placeholder {
  color: var(--text-color);
  font-size: 16px;
}
.sign .signUp .content form input::-moz-placeholder {
  color: var(--text-color);
  font-size: 16px;
}
.sign .signUp .content form input:-ms-input-placeholder {
  color: var(--text-color);
  font-size: 16px;
}
.sign .signUp .content form input::-ms-input-placeholder {
  color: var(--text-color);
  font-size: 16px;
}
.sign .signUp .content form input::placeholder {
  color: var(--text-color);
  font-size: 16px;
}
.sign .signUp .content form .numberClass select {
  margin-top: 5px;
  width: 55px;
  min-width: 50px;
  border: 1px solid var(--text-color);
  margin-bottom: 30px;
  height: 30px;
  border-radius: 50px;
  color: var(--text-color);
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}
.sign .signUp .content form .numberClass select::-webkit-input-placeholder {
  color: var(--text-color);
  font-size: 16px;
}
.sign .signUp .content form .numberClass select::-moz-placeholder {
  color: var(--text-color);
  font-size: 16px;
}
.sign .signUp .content form .numberClass select:-ms-input-placeholder {
  color: var(--text-color);
  font-size: 16px;
}
.sign .signUp .content form .numberClass select::-ms-input-placeholder {
  color: var(--text-color);
  font-size: 16px;
}
.sign .signUp .content form .numberClass select::placeholder {
  color: var(--text-color);
  font-size: 16px;
}
.sign .signUp .content form .butSign {
  position: relative;
}
.sign .signUp .content form .butSign button {
  position: absolute;
  right: 0;
  padding: 5px 45px;
  border-radius: 30px;
  font-size: 18px;
  background-color: var(--scrollbar-color);
  cursor: pointer;
}
.sign .signUp .content form .textSign {
  margin-top: 80px;
}
.sign .signUp .content form .textSign p, .sign .signUp .content form .textSign button {
  color: #17337A;
  cursor: pointer;
  margin-top: 10px;
}
.sign .signUp .content form .textSign button {
  background-color: transparent;
  font-size: 100%;
}
.sign .signUp .content form .textSign .Error {
  color: rgb(168, 32, 32);
}
.sign .signUp .content form .textSign .Success {
  color: green;
}